* {
  background-color: #DADAD9;
}

.navbar {
  border: 1.25rem solid #36382E;
  color: #EDE6E3;
  background-color: #36382E;
  transition: background-color .5s;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-link {
  padding: 0 3.13rem;
  color: #EDE6E3;
  display: inline-block;
  word-wrap: normal;
  border-radius: 0.313rem;
  background-color: #36382E;
  transition: background-color 0.5s;
}

.nav-link:hover {
  background-color: #F06449;
  color: white;
}

.connect-wallet-button, .connect-wallet-text {
  display:inline-block;
  color: #36382E;
  position: absolute;
  width: 15rem;
  right: 0.625rem;
  top: -1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #F06449,
    #DADAD9,
    #5BC3EB
  );
}

.connect-wallet-text {
  pointer-events: none;
}
