.container {
    text-align: center;
    position: relative;
    top: 2rem;
    width: 25rem;
    height: 15rem;
    margin: auto;
    border-radius: 1rem;
    background-color: #EDE6E3;
}

.header input[type="radio"] {
    display: none;
}

.header label {
    display: inline-block;
    font-weight: bold;
    background-color: #36382E;
    color: #EDE6E3;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.header input[type="radio"]:checked+label {
    background-color: #F06449;
    color: white;
}

.header input[type="radio"]:hover+label {
    color: white;
}

.container button{
    position: relative;
    width: 8rem;
    height: 3rem;
    border: 0.2rem solid #36382E;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.313rem;
    cursor: pointer;
    margin: 1rem;
    color: #EDE6E3;
    background-color: #36382E;
    transition: background-color 0.5s;
}

.container button:hover {
    color: white;
}

.container p {
    background-color:#EDE6E3;
    font-weight: bold;
    font-size: 1.2rem;
}

.container div {
    background-color:#EDE6E3;
    border-radius: 1rem;
}

.num-tokens {
    border-radius: 1rem;
    padding: 0.5rem 0 0 0;
}

.container .trade-button {
    margin: 0 0 1rem 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
